site_name: "Clube de xadrez Guabiruba: Do peão ao Campeão!"
site_url: "https://douglasvieiradossantos.github.io/Clube-de-xadrez-Guabiruba-Do-pe-o-ao-campe-o/"

theme:
  name: material
  language: pt
  logo: logo.png
  features:
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight

plugins:
  - search

nav:
  - Início: index.md
